<h1>Corgi Index</h1>
<h2>ATTRS <%= session[:saml_attributes] %></h2>
<h2>SESSION <%= session[:sp_session] %></h2>
<h2>SAML SUCCESS <%= session[:saml_success] %></h2>


<form action="/saml/logout" method="post">
  <input type="submit" value="Logout">
</form>



<ul>
  <%= link_to 'Corgi-1', show_corgi_path('corgi 1') %>
</ul>
<ul>
  <%= link_to 'Corgi-2', show_corgi_path('corgi 2') %>
</ul>
<ul>
  <%= link_to 'Corgi-3', show_corgi_path('corgi 3') %>
</ul>

<h3>SamlCamel::Shib.attributes
<%= SamlCamel::Shib.attributes(request) %>
<h3 style="color: blueviolet"><%= request.remote_ip %></h3>


<h3 style="color: blueviolet"><%= session[:saml_session_id]%></h3>
<%= Rails.cache.fetch(session[:saml_session_id]) %>
